body {
font-family: Pt Sans;
background-color: grey;
}

header {
color: #000000;
font-family:Lucida Console;
}

skrrt {
	color: black
}

nav {
	width: 225px;
	border-bottom: 4px solid black;
	background-color: #d3d3d3
}

a {
	text-decoration: none;
}

main {
border-top: 4px solid black;
	text-shadow: 2px 2px #000000;
	font-size: 25px;
	color: white;
	padding: 150px;
	background-image: url(https://www.google.com/search?q=programowanie&sxsrf=ACYBGNRQkzUO_COM2f_z6hthHcsMzOETMg:1577898530818&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjm466L8uLmAhXklosKHZpFB_YQ_AUoAXoECAsQAw&biw=1360&bih=657#imgrc=7Jb4RsQBYZewRM);
	background-color: #cccccc;
	height: 125px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 4px solid black;	
}
